<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Card Design</title>
    <!----css custom file link-->
    <link rel="stylesheet" href="style.css">
    <!---Fontawesome CDN link----->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
    <img class="wave" src="https://i.postimg.cc/sDG8zyXM/wave.png">
    <div class="container">
      <div class="img">
        <img src="https://svgshare.com/i/JcM.svg">
      </div>
      <div class="login-content">
        <form action="index.html">
          <img src="https://svgshare.com/i/Jcf.svg">
          <h2 class="title">Bienvenido</h2>
        </form>
        <div>
            <a href="../docente/docente.html"  type="button" class="btn btn-secondary">Lista docente</a>
            <a href="../alumno/alumno.html"  type="button" class="btn btn-secondary">Lista alumno</a>
        </div>
      </div>
    </div>
</body>
</html>  