<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 
  <link rel="stylesheet" href="main.css">
 
  <title>Alumno</title>
</head>
<body>
  <div class="container">
    <div class="alumno-container">
      <div class="buscar">
        <h1>DATOS ALUMNO</h1>
        <form action="">
          <div class="perfil">
            <img class="imgs" src="https://image.flaticon.com/icons/png/512/560/560216.png">
          </div>
          <div class="login-items">
            <input type="text" placeholder="&#8981; Ingrese codigo a buscar" class="codigob" required autofocus>
            <div class="btn__form">
              <input class="btn__search" type="button" value="BUSCAR">
            </div>
          </div>
        </form>
      </div>
      <div class="register">
        <h2>Formulario <span>Registro Alumno</span></h2>
        <form action="">
          <input type="text" placeholder="&#128274;  Codigo" class="codigo" required autofocus>
          <input type="text" placeholder="&#128100;  Nombres"  class="nombres" required autofocus>
          <input type="text" placeholder="&#128100;  Apellido Paterno"  class="apellido paterno" required autofocus>
          <input type="text" placeholder="&#128100;  Apellido Materno" class="apellido materno" required autofocus>
          <input type="text" placeholder="&#128274;  Codigo Escuela Profesional" class="codigo escuela profesional" required autofocus>
          <input type="text" placeholder="&#128274;  Codigo Tutor" class="codigo tutor" required autofocus>
          <input type="text" placeholder="&#8962;  Descripcion"  class="descripcion" required autofocus>
          <div class="btn__form">
              <input class="btn__submit" type="submit" value="GUARDAR">
              <input class="btn__edit" type="button" value="EDITAR">	
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>