<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Alumno</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>
    <h1 class="p-2">Registrar Alumno</h1>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-2 my-auto align-top">
                <form id="formAlumno" class="card card-body">
                    <p>Alumno</p>
                    <p>Codigo</p>
                    <div class="form-group p-1">
                        <input 
                            type="number"
                            id="codigo"
                            placeholder="Codigo"
                            class="form-control"
                            autofocus
                            >
                    </div>
                    <p>Nombres</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="nombres"
                            placeholder="Nombres"
                            class="form-control"
                            >
                    </div>
                    <p>Apellido Paterno</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="apellido-paterno"
                            placeholder="Apellido Paterno"
                            class="form-control"
                            >
                    </div>
                    <p>Apellido Materno</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="apellido-materno"
                            placeholder="Apellido Materno"
                            class="form-control"
                            >
                    </div>
                    <p>Codigo escuela profesional</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="codigo-ep"
                            placeholder="Codigo EP"
                            class="form-control"
                            >
                    </div>
                    <p>Codigo tutor</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="codigo-tutor"
                            placeholder="Codigo Tutor"
                            class="form-control"
                            >
                    </div>
                    <p>Descripción</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            rows="3"
                            id="descripcion"
                            placeholder="Descripción"
                            class="form-control"
                            >
                    </div>
                    <button id="btn-guardar" class="btn btn-primary p-1" type="submit">
                        Guardar
                    </button>
                </form>
            </div>
            
            <div class="col-md-6 p-2">
                <form id="formBuscar" class="card card-body">
                    <p>Buscar por codigo</p>
                    <div class="form-group p-1">
                        <input 
                            type="text"
                            id="codigoBuscar"
                            placeholder="Codigo"
                            class="form-control"
                            >
                    </div>
                    <button id="btn-buscar" class="btn btn-primary p-1" type="submit">
                        Buscar
                    </button>
                    <ul id="alumno-buscado"></ul>
                </form>
            </div>
            <div class="col-md-6 p-2 align-top">
                <ul id="lista-alumnos"></ul>
                <script src="../../provider/alumno.js""></script>
            </div>
        </div>
    </main>
</body>
</html>